page-arbin {
    .bgarv{
        background-color: rgb(37, 37, 37);
    }
   

    /*.man-div{
        position: absolute;
        margin-top: 10vh;
    }
    .woman-div{
        position: absolute;
        margin-top: 10vh;
        margin-bottom: 5px; 
    }
    .fits{
        font-size: 19px;
        border: 1px solid #a29a9a;
        padding: 10px;
        text-align: center;
        font-weight: 500;

    }*/

    .padding {

        ion-card {
          position: relative;
          text-align: center;
        }
        
        .card-title {
          border-style: groove;
          border-color: rgba(0,0, 0, 0.3);
          background : rgba(0,0, 0, 0.3);
          position: absolute;
          top: 76%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
        
        
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
    }
    .toolbar-md-purple .toolbar-background-md {
      background: rgb(183, 82, 250);
  }

  .cardimg{
    width: 100%;
    height:100%;
  }
    
}
