page-thankyou {
    .padding{
        padding-top: 10px;
    }

    .border{
        //margin-top: 5vh;
        padding-top: 10px ;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        //background : rgba(0,0, 0, 0.5);
        margin-left: 1vh;
        margin-right: 1vh;
        border-style: groove;
        border-color: #E3DEDE;
    }

    
}
