page-mantrousers {
    
    .img{
        height: 70%;
        width: 90%;
        font-size: 15px;
        margin: 16px -30px 8px 18px;
       
       
    }
     
     .hr{
         display: block;
         height: 1px;
         height: 0.2%;
         border: 0;
         border-top: 1px solid #ccc;
         margin: 1em 0;
         padding: 0; 
     }
     
     .about1{
         margin-top: 1vh;
         margin-left: 20vh;
         font-size: 15px;
         height: 1.2%;
         //font-style : italic;
         //margin-right: 4vh;
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-weight: 300;
         //color: rgb(0, 0, 0);
         //background-color: rgb(140, 130, 146);
     }
     
     .about2{
         margin-top:1vh;
         margin-bottom:4vh;
         margin-left: 18vh;
         font-size: 20px;
         height: 1.2%;
         //font-style : italic;
         //margin-right: 4vh;
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-weight: 300;
         //color: rgb(0, 0, 0);
         
     }
     
     .list{
         height: 7%;
     }
     
     .label{
         font-size: 15px; 
     
     }
     
     .button{
         font-size: 15px;
         //margin-left: 2vh;
         //margin-right: 8vh;
         display : block ;
     }
     
     .fab{
         padding-top: 100px;
     }
     .about{
         margin-left: 2vh;
     }
     .button1{
         font-size: 15px;
         margin-top:0vh;
         margin-bottom:-2vh;
         //margin-left: 2vh;
         //margin-right: 8vh;
         
     }
     .button2{
         font-size: 15px;
         margin-top:-2.2vh;
         margin-bottom:-2vh;
         //margin-left: 2vh;
         //margin-right: 8vh;
         
     }
     .info
{
    
    font-size: 30px;
    color: #528cfa99;
    margin: -6px 0px 0px 87%;
}
.price
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 82, 250);
    border-radius: 31px;
   margin: 0% 31% -10% 6%;
    padding: 10px;
    font-size:20px;
    color: rgb(183, 82, 250);
    text-transform: uppercase;
}
.design
{
    background-color: #d9c1e83d;
    margin: 20px 0px 0 0px;
    padding: 14px 10px 15px 60px;
    text-transform: uppercase;
    font-size: 18px;
    color: #a67bde;
}
    
}
